{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
</head>
<body>
    <div class="box">
        <div class="border-line"></div>
        <form action="" method="post">
            {% csrf_token %}
            <h2>Reset Password</h2>
            <div class="input-box">
                <input type="password" id="newpassword" name="newpassword" required>
                <span>New Password</span>
                <i></i>
            </div>
            <div class="input-box">
                <input type="password" id="cpassword" name="cpassword" required>
                <span>Confirm Password</span>
                <i></i>
            </div>
            <div id="errors" style="color: red; font-size: 14px;"></div>
            <input type="submit" value="Set New Password" class="btn" id="resetButton" disabled>
        </form>
    </div>
    
        
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const passwordInput = document.getElementById('newpassword');
            const confirmPasswordInput = document.getElementById('cpassword');
            const submitButton = document.getElementById('resetButton');
            const errorContainer = document.getElementById('errors');

            function validatePassword() {
                const password = passwordInput.value;
                const confirmPassword = confirmPasswordInput.value;
                let errorMessage = '';

                if (password.length < 8) {
                    errorMessage = "Min 8 chars.";
                } 
                else if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])/.test(password)) {
                    errorMessage = "Add A-Z, a-z, 0-9, @$!";
                } 
                else if (confirmPasswordInput === document.activeElement && password !== confirmPassword) {
                    errorMessage = "Passwords don't match.";
                }

                errorContainer.textContent = errorMessage;

                submitButton.disabled = errorMessage !== '';
            }

            passwordInput.addEventListener('input', validatePassword);
            confirmPasswordInput.addEventListener('input', validatePassword);
        });

    </script>
        
</body>
</html>