asgiref==3.8.1
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
cssselect2==0.7.0
Django==5.1
django-mathfilters==1.0.0
django-messages==0.6.0
dnspython==2.6.1
email_validator==2.2.0
fonttools==4.55.0
idna==3.8
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.15.0
razorpay==1.4.2
reportlab==4.2.5
requests==2.32.3
setuptools==75.1.0
sqlparse==0.5.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2024.1
urllib3==2.2.3
webencodings==0.5.1
zopfli==0.2.3.post1
